table {
    empty-cells:show;
    border-collapse: collapse;
}
.mensajeEmisor{

    text-align:right;

}

.mensajeReceptor{

    text-align:left;

}
tr {
    
}
tr:nth-child(even) {

    background-color:rgba(0, 0, 0, 0.02);

}
tr:hover {
    background-color: #d2e8f9
}
th {
    border-right: 1px solid #808080;
    height:2.5em;
    background-color: #5F5F5F;
    color: white;
}
tr > th {
    width:25%;
    text-align:center;
}

a{

    color:white;

}

.navbar{

    margin-bottom:0px;

}

#messagesMain{

    flex:1;
    overflow:hidden;
    background-color:#169be6;
    
}

.mensajeReceptor .mensajesText{

    background-color:rgba(255, 255, 255, 0.52);

}

.mensajeEmisor .mensajesText{

    background-color:rgba(68, 187, 254, 0.53);

}


#messagesText{

    background-color:rgba(255, 255, 255, 0.85);
    float:right;
    width:85%;
    overflow:hidden;

}

#divCentral{

    display:flex;
    position:absolute;
    width:100%;
    min-height:100%;

}

.tablaDeMensajes{

    width:100%;


}
.mensajesTD{

    padding:2em;

}

.mensajesText{

    border-style:solid;
    border-width:1.5px;
    padding:1em;
    padding-left:5em;
    padding-right:5em;
    border-radius:7px;

    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);

}

.users{

    padding:0.5em;
    font-size:115%;
    text-align:center;

}

.form-control-messages{

    display:inline;
    height:5em;
    width:40em;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
    transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    
}

#ContentPlaceHolder1_buttonEnviar{

    width:7em;

}

.botonesUsers{

    padding:0.5em 5em;


}

#messageBox{

    padding:2em;

}